body{
    background: url(fondo4.jpg);
    background-size: 100%;
}

* {
    margin: 0px;
    padding: 0px;
}

#contenedor{
    width: 1200px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    overflow: hidden;
}

header{
    height: 150px;
    background: rgba(255, 255, 255, .65);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}

header h1{
    font-size: 50px;
    text-align: center;
    line-height: 150px;
}

#aside1{
    background: rgba(255, 255, 255, .65);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    height: 500px;
    width: 300px;
    text-align: center;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 65px;
    float: left;
}

#contenido{
    background: rgba(255, 255, 255, .65);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    width: 580px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-flex;
    text-align: center;
    height: 500px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#aside2{
    background: rgba(255, 255, 255, .65);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    margin-top: 10px;
    margin-bottom: 10px;
    height: 500px;
    width: 300px;
    text-align: left;
    float: right;
    font-size: 17px;
    line-height: 50px;
    font-weight: bolder;
}

footer{
    clear: both;
    background: rgba(255, 255, 255, .65);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}

footer h2{
    font-size: 20px;
    text-align: center;
    font-style: italic;
    padding: 20px;
}

#logo{
    text-align: center;
    position: relative;
    top: 150px;
    right: 300px;
    top: 130px;
}

#contenido h2{
    font-size: 40px;
    line-height: 100px;
}

#contenido p{
    font-size: 20px;
    line-height: 45px;
}

ul{
    margin-top: 30px;
    line-height: 110px;
}